.scrolling-disabled {
    overflow: hidden;
}

.layout {
    overflow-x: hidden;
}

.sidebar {
    position: fixed;
    width: 54px;
    overflow: hidden;
    height: 100%;
    z-index: 5;
    transition: width $sidebar-transition-time;

    hr {
        margin: 0;
    }

    .header {
        position: relative;
        margin: 0;
    }

    .navbar-toggle {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        margin: 0;
        padding-right: 15px;
        padding-left: 15px;
        z-index: 10;
        transition: left $sidebar-transition-time, right $sidebar-transition-time;
    }

    .sidebar-nav-group {
        width: 300px;
    }
}

.content {
    position: relative;
    width: 100%;
    padding-left: $sidebar-width-closed;
    transition: padding-left $sidebar-transition-time;
}

.sidebar-opened {
    overflow: hidden;

    .sidebar {
        width: $sidebar-width-opened;
        overflow-y: auto;

        .sidebar-nav-group {
            width: 300px;
        }
    }

    .content {
        padding-left: $sidebar-width-opened;
        overflow: hidden;
    }

    .navbar-toggle {
        right: 0;
        left: auto;
    }
}
