.layout {
    .sidebar,
    .content {
        position: relative;
        float: left;
        height: 100vh;
    }

    .sidebar {
        width: 80%;

        &-heading {
            position: relative;
            padding: 15px;
        }

        hr {
            margin: 0;
        }

        .header {
            margin: 0;
        }

        .navbar-toggle {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 0;
            margin: 0;
            padding-right: 15px;
        }
    }

    .content {
        width: 20%;

    }
}
